.card {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 2em;
}

.report {
  width: 100%;
//   min-height: 297mm;
  height: 100%;
  padding: 0;
  background-color: #fafafa;
  overflow: scroll;
}

@page {
    size:A4 auto;
}
  
@media print {
    .report {
        overflow: visible;
    }
}