<div class="modal-header">
  <h4 class="modal-title pull-left">test</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="gallery">
    <!-- <img [src]="urlSafe2" alt="" height="100%" width="100%" > -->
    <img src="../../../assets/icons/Display-Loading.gif" alt="loading" />
    <img />
  </div>
  <div class="gallery-thumbs-container">
      <div class="thumb">
          <img height="auto" width="100%">
      </div>
  </div>
  
</div>
