<div class="potree_container" style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; ">
    <div id="potree_render_area"></div>
    <div id="potree_sidebar_container"> </div>
</div>
