<div class="report">
  <div class="A4">
    <section class="sheet padding-10mm page" *ngFor="let roads of sites.file_name" id="content">
      <div id="pageFooter">Page </div>
      <article class="report-container">
        <div class="row title-header">
          <div class="col-6 title-container">
            <div class="title">
              <b>RIGHT-OF-WAY (ROW) INSPECTION</b>
              <!-- <br />HIGH VOLTAGE TRANSMISSION LINE <br />110kV  -->
              <br />La Arboleda (Colina)<br />

            </div>
          </div>
          <div class="col-6 logo">
            <img src="../../../assets/icons/aerodyne.png" />
            <img src="../../../assets/imgs/Enel_Group.png" />
            <!-- <img src="../../../assets/icons/enel-egp.svg" /> -->
          </div>
        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>Nombre del sitio</b></div>
          <div class="col-3 description">{{ roads.site_name }}</div>
          <div class="col-3 description"><b>Distancia de inspección</b></div>
          <div class="col-3 description">25 km</div>
        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>Nombre Avenida</b></div>
          <div class="col-3 description">{{ roads.avenue_name }}</div>
          <div class="col-3 description"><b>Tipo de inspección</b></div>
          <div class="col-3 description">Right-Of-Way Inspection (LiDAR)</div>
        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>ID árbol</b></div>
          <div class="col-3 description">{{ roads.name }}</div>
          <div class="col-3 description"><b>Fecha de inspección</b></div>
          <div class="col-3 description">05/10/2020</div>
        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>Coordinar</b></div>
          <div class="col-3 description">{{ sites.lat.toFixed(8) }}, {{ sites.lng.toFixed(8) }}</div>
          <div class="col-3 description"><b>Piloto</b></div>
          <div class="col-3 description">Jersim Daniel Araya</div>
        </div>

        <div class="row">
          <div class="col-6 image-container">
            <!-- <img src="../../../assets/3.jpg" /> -->
            <img [src]="'https://aerodyne-enel.s3-sa-east-1.amazonaws.com/' + roads.photo_path" />
          </div>

          <div class="col-6 description b-bot" style="text-align: center;">
            <b>LiDAR inspección</b>
            <table style="width: 100%; border: 0.1em solid black">

              <tr>
                <td class="box-inside">Nombre científico</td>
                <td class="box-inside">{{ roads.scientific_name }}</td>
              </tr>
              <tr>
                <td class="box-inside">Clase</td>
                <td class="box-inside">{{ roads.class }}</td>
              </tr>
              <tr>
                <td class="box-inside">Familia</td>
                <td class="box-inside">{{ roads.family }}</td>
              </tr>
              <tr>
                <td class="box-inside">Nombre común</td>
                <td class="box-inside">{{ roads.common_name }}</td>
              </tr>
              <tr>
                <td class="box-inside">Distancia a la línea(m)</td>
                <td class="box-inside" [class]="roads.severity">{{ roads.distance_to_line }}</td>
              </tr>
              <tr>
                <td class="box-inside">Altura (m)</td>
                <td class="box-inside">{{ roads.height }}</td>
              </tr>
              <tr>
                <td class="box-inside">Crecimiento de árboles por año</td>
                <!-- <td class="box-inside"></td> -->
                <td class="box-inside">{{ roads.growth_rate }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row title-description">
          <div class="col-3 description"><b>Impacto</b></div>
          <div class="col-3 description">{{ roads.impact }}</div>
          <div class="col-3 description"><b>Mayor Severidad</b></div>
          <div class="col-3 description">{{ roads.severity }}</div>

        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>Magnitud</b></div>
          <div class="col-3 description">{{ roads.magnitude }}</div>
          <div class="col-3 description"><b>DESC_Fase_Conductor</b></div>
          <div class="col-3 description">{{ roads.desc_driver_phase }}</div>

        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>Estado de salud del árbol</b></div>
          <div class="col-3 description">{{ roads.tree_health_status }}</div>
          <div class="col-3 description"><b>Porcentaje de árbol proyectado a caer</b></div>
          <div class="col-3 description">{{ roads.percentage_of_tree_fall }}</div>
        </div>
        <div class="row title-description">
          <div class="col-6 description"><b>AGUAS ARRIBA</b></div>
          <div class="col-6 description"><b>AGUAS ABAJO</b></div>
        </div>
        <!-- <div class="row title-description">
          <div class="col-3 description"><b>Proceso</b></div>
          <div class="col-3 description">{{ roads.process1 }}</div>
          <div class="col-3 description"><b>Proceso</b></div>
          <div class="col-3 description">{{ roads.process2 }}</div>
        </div> -->
        <div class="row title-description">
          <div class="col-3 description"><b>NUMPOS/ Equipo cercano</b></div>
          <div class="col-3 description">{{ roads.numpos1 }}</div>
          <div class="col-3 description"><b>NUMPOS/ Equipo cercano</b></div>
          <div class="col-3 description">{{ roads.numpos2 }}</div>
        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>Equipo</b></div>
          <div class="col-3 description">{{ roads.team1 }}</div>
          <div class="col-3 description"><b>Equipo</b></div>
          <div class="col-3 description">{{ roads.team2 }}</div>
        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>Distancia (m)</b></div>
          <div class="col-3 description">{{ roads.distance1 }}</div>
          <div class="col-3 description"><b>Distancia (m)</b></div>
          <div class="col-3 description">{{ roads.distance2  }}</div>
        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>Direction postal</b></div>
          <div class="col-3 description">{{ roads.postal_address }}</div>
          <div class="col-3 description"><b>Comuna</b></div>
          <div class="col-3 description">{{ roads.common }}</div>
        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>Criticidad RMA33</b></div>
          <div class="col-3 description">{{ roads.rma33_critically }}</div>
          <div class="col-3 description"><b>Criticidad RMA34</b></div>
          <div class="col-3 description">{{ roads.rma34_critically }}</div>
        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>Magnitud de Riesgo</b></div>
          <div class="col-3 description" [class]="getClass(roads.magnitude_of_risk)">{{ roads.magnitude_of_risk }}</div>
          <div class="col-3 description"><b>Magnitud con Sanidad</b></div>
          <div class="col-3 description" [class]="getClass(roads.risk_clarification_c_health)">
            {{ roads.risk_clarification_c_health }}</div>
        </div>
        <div class="row title-description">
          <div class="col-3 description"><b>Clasificación de Riesgo (sin Sanidad)</b></div>
          <div class="col-3 description">{{ roads.risk_classification_wo_health }}</div>
          <div class="col-3 description"><b>Clasificación de Riesgo (con efecto Sanidad)</b></div>
          <div class="col-3 description">{{ roads.risk_classification_w_health }}</div>
        </div>
        <!-- <div class="row title-description">
          <div class="col-6 description"><b>Comuna</b></div>
          <div class="col-6 description">{{ roads.Common_name }}</div>
        </div> -->
        <!-- <div class="row title-description">
          <div class="col-6 description"><b>Clasificación de Riesgo C /sanidad</b></div>
          <div class="col-6 description">{{ roads.risk_clarification_c_health }}</div>
        </div> -->
        <!-- <div class="row title-description">
          <div class="col-6 description"><b>Clasificación de Riesgo (con efectoSanidad)</b></div>
          <div class="col-6 description">{{ roads.risk_classification_w_health }}</div>
        </div> -->

        <div class="row border-empty1"></div>
        <div class="row title-description">
          <div class="col-12 description" style="background-color: #24a638;">
            <b>Indicador de severidad</b>
          </div>
        </div>

        <div class="row ">
          <div class="col-12 border-sev">
            <div class="row border-empty1"></div>
            <!-- <div class="row border-empty1"></div> -->

            <table style="width: 100%; border: 0.1em solid black">
              <tr>
                <td class="box-inside blue">Severidad</td>
                <td class="box-inside red">Critico</td>
                <td class="box-inside orange">Leve</td>
                <td class="box-inside green">Bueno</td>
              </tr>
              <tr>
                <td class="box-inside blue">Distancia a la línea (m)</td>
                <td class="box-inside"> 0.0-2.5 </td>
                <td class="box-inside"> 2.5-5.0 </td>
                <td class="box-inside"> > 5.0 </td>
              </tr>
            </table>
            <div class="row border-empty1"></div>
            <!-- <div class="row border-empty1"></div> -->

            <table style="width: 100%; border: 0.1em solid black">
              <tr>
                <td class="box-inside blue" colspan="3">Descripcion del riesgo</td>
              </tr>
              <tr>
                <td class="box-inside green">Riesgo Bajo</td>
                <td class="box-inside">1 a 10</td>
                <td class="box-inside">No constituye riesgo en el corto plazo</td>
              </tr>
              <tr>
                <td class="box-inside orange">Riesgo Medio</td>
                <td class="box-inside">11 a 20</td>
                <td class="box-inside">Monitoriear riesgo y planear acciones correctivas</td>
              </tr>
              <tr>
                <td class="box-inside red">Riesgo Alto</td>
                <td class="box-inside">21 a 45</td>
                <td class="box-inside">Adoptar medidas de control de manera Urgente</td>
              </tr>
            </table>
          </div>

          <div class="col-6 image-footer">
            <!-- <img src="../../../assets/icons/icon_bawah.png" /> -->
          </div>

          <!-- <div class="col-6 image-footer">  
            A = Distancia a la línea(m)
            <br>
            B = Crecimiento de árboles por año (m)
            <br>
            Porcentaje de árbol proyectado a caer = A / B * 100%
          </div> -->

          <!-- <table>
            <tr>
              <td colspan="5">
                <div>A : Distancia a la linea (m)</div>
                <div>B: Crecimiento de árboles por año (m)</div>
              </td>
            </tr>
            <tr>
              <td>
                <div style="padding-top: 10px;">
                  Porcentaje de árbol
                </div>
                <div>
                  proyectado a caer
                </div>
              </td>
              <td>=</td>
              <td>
                <div>
                  <u>A</u>
                </div>
                <div>
                  B
                </div>
              </td>
              <td>x</td>
              <td>100%</td>
            </tr>
          </table> -->

        </div>


      </article>
    </section>
  </div>
</div>