<div id="map"></div>
<app-analysis></app-analysis>
<app-card-medium></app-card-medium>
<app-logo></app-logo>
<app-card-icon></app-card-icon>
<app-potree-viewer></app-potree-viewer>
<app-logout-button></app-logout-button>
<app-internet-speed-monitor></app-internet-speed-monitor>
<router-outlet></router-outlet>