<div
  class="icon-container-risk"
  [class.active]="datas"
  [class.inactive]="!datas"
>
  <div class="icon" (click)="openAnalysis()">
    <img src="../../../assets/icons/analytics.svg" class="icon" />
  </div>
  
<div class="risk-box" *ngIf="datas">
  <div class="risk1">
    <span> Clasificación de Riesgo (sin Sanidad) </span>
    <div class="dropdown-risk1">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="checkbox" name="options" id="option1" disabled /> Riesgo
        </label>
        <label class="btn btn-secondary active">
          <input
            type="checkbox"
            name="options"
            id="option2"
            (click)="onClassificationClick('sinAlto')"
          />
          Alto
        </label>
        <label class="btn btn-secondary active">
          <input
            type="checkbox"
            name="options"
            id="option3"
            (click)="onClassificationClick('sinMedio')"
          />
          Medio
        </label>
        <label class="btn btn-secondary active">
          <input
            type="checkbox"
            name="options"
            id="option3"
            (click)="onClassificationClick('sinBajo')"
          />
          Bajo
        </label>

        <!-- <button type="checkbox" class="btn btn-secondary" data-toggle="button" aria-pressed="false" disabled>
          Riesgo
        </button>
        <button type="checkbox" class="btn btn-secondary" data-toggle="button" aria-pressed="false" (click)="onAltoClick(status)">
          Alto
        </button><button type="checkbox" class="btn btn-secondary" data-toggle="button" aria-pressed="false" (click)="onMedioClick(status)">
          Medio
        </button><button type="checkbox" class="btn btn-secondary" data-toggle="button" aria-pressed="false" (click)="onBajoClick(status)">
          Bajo
        </button> -->
      </div>
    </div>
  </div>
  <div class="risk2">
    <span> Clasificación de Riesgo (con efectoSanidad) </span>
    <div class="dropdown-risk2">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="checkbox" name="options" id="option1" disabled /> Riesgo
        </label>
        <label class="btn btn-secondary active">
          <input
            type="checkbox"
            name="options"
            id="option2"
            (click)="onClassificationClick('conAlto')"
          />
          Alto
        </label>
        <label class="btn btn-secondary active">
          <input
            type="checkbox"
            name="options"
            id="option3"
            (click)="onClassificationClick('conMedio')"
          />
          Medio
        </label>
        <label class="btn btn-secondary active">
          <input
            type="checkbox"
            name="options"
            id="option3"
            (click)="onClassificationClick('conBajo')"
          />
          Bajo
        </label>
      </div>
    </div>
  </div>
</div>
</div>

<div
  class="icon-container-seaerch"
  [class.active]="datas"
  [class.inactive]="!datas"
>
  <div class="filter-search">
    <input type="search" [(ngModel)]="searchText" />
    <ul class="list-group list-group-flush" *ngIf="searchText">
      <!-- results of ngFor is passed to appFilter with argument searchText -->
      <li
        class="list-group-item"
        *ngFor="let item of uniques | filterSpecies: searchText"
        (click)="onFilterClick(item)"
      >
        {{ item }}
      </li>
    </ul>
  </div>
  <div class="icon ml-3" *ngIf="!searchText">
    <img src="../../../assets/icons/search.svg" class="icon" />
  </div>
  <div class="icon ml-3" (click)="onClearTextClick()" *ngIf="searchText">
    <img src="../../../assets/icons/letter-x.svg" class="icon" />
  </div>
</div>

<div
  class="icon-container-gallery"
  [class.active]="files"
  [class.inactive]="!files"
>
  <div class="icon" (click)="openModalGallery(template)">
    <img src="../../../assets/icons/gallery.svg" class="icon" />
  </div>
</div>

<div
  class="icon-container-potree"
  [class.active]="files"
  [class.inactive]="!files"
>
  <div class="icon" (click)="openPotree()">
    <img src="../../../assets/icons/tree.svg" class="icon" />
  </div>
</div>

<div
  class="icon-container-download"
  *ngIf="siteName === 'Algarrobal'"
  [class.active]="datas"
  [class.inactive]="!datas"
>
  <div class="icon">
    <img src="../../../assets/icons/inbox.svg" class="icon" />
  </div>
  <div class="dropdown-content">
    <a target="_blank" href="https://aerodyne-enel.s3.sa-east-1.amazonaws.com/LIDAROCT/Algarrobal.kmz">KMZ</a>
    <a target="_blank" href="https://aerodyne-enel.s3.sa-east-1.amazonaws.com/LIDAROCT/REPORT%20CSV/ENEL%20FINAL%20%20-%20ALGARROBAL%20CSV%20%282%29.xlsx">Excel</a>
  </div>
</div>
<div
  class="icon-container-download"
  *ngIf="siteName === 'La Posada'"
  [class.active]="siteName === 'La Posada'"
  [class.inactive]="!datas"
>
  <div class="icon">
    <img src="../../../assets/icons/inbox.svg" class="icon" />
  </div>
  <div class="dropdown-content">
    <a target="_blank" href="https://aerodyne-enel.s3.sa-east-1.amazonaws.com/LIDAROCT/La%20Posada.kmz">KMZ</a>
    <a target="_blank" href="https://aerodyne-enel.s3.sa-east-1.amazonaws.com/LIDAROCT/REPORT%20CSV/ENEL%20FINAL%20%20-%20LA%20POSADA%20CSV%20%282%29.xlsx">Excel</a>
  </div>
</div>

<div class="dropdown">
  <div class="icon">
    <img src="../../../assets/icons/file.svg" class="icon" />
  </div>
  <div class="dropdown-content" >
    <a target="_blank" href="/report1">La Posada</a>
    <a target="_blank" href="/report2">Algarrobal</a>
  </div>
</div>

<div class="icon-container">
  <div class="icon" routerLink="tableView">
    <img src="../../../assets/icons/cells.svg" class="icon" />
  </div>
</div>

<ng-template #template>
  <div class="gallery-thumbs-container">
    <div class="modal-body">
      <ngx-imageviewer
        [src]="'https://aerodyne-enel.s3-sa-east-1.amazonaws.com/' + photo_path"
      ></ngx-imageviewer>
    </div>
    <div class="text-center p-1" width="100%">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          (click)="setPhoto(files.photo_path)"
        >
          Original
        </button>
        <button
          *ngIf="!files.path_photo_cropped"
          type="button"
          class="btn btn-secondary btn-sm"
          disabled
        >
          Crop
        </button>
        <button
          *ngIf="files.path_photo_cropped"
          type="button"
          class="btn btn-secondary btn-sm"
          (click)="setPhoto(files.photo_path_cropped)"
        >
          Crop
        </button>
      </div>
    </div>

    <!-- <div class="modal-body">
      <ngx-imageviewer
        [src]="
          'https://aerodyne-enel.s3-sa-east-1.amazonaws.com/' + files.photo_path
        "
      ></ngx-imageviewer>
    </div> -->
  </div>
</ng-template>
