.login {
    background-image: url("https://www.enelgreenpower.com/content/dam/enel-egp/immagini/articoli/storie/Article-media-panama-overview.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 300px;
    height: 450px;
    margin-top: 5em;
}

.logo {
    display: flex;
    justify-content: center;
}

.btn-green {
    color: #fff;
    background-color: #18A041;
    border-color: #18A041;
}