<!-- <div class="card" *ngIf="projectID === '1'">
    <div class="card-body">
        <ngx-table [configuration]="configuration"
           [data]="data"
           [columns]="columns1">
        </ngx-table>
    </div>
</div>

<div class="card" *ngIf="projectID === '2'">
    <ngx-table [configuration]="configuration"
           [data]="data"
           [columns]="columns2">
    </ngx-table>
</div> -->
<div class="search-wrapper">
  <input type="text" (keyup)="updateFilter($event)" />
  <img
    class="ml-1"
    src="../../../assets/icons/search.svg"
    width="25px"
    height="25px"
  />
</div>
<div class="datatable-wrapper" height="200" *ngIf="projectID === '1'">
  <ngx-datatable
    class="material"
    [rows]="rows"
    columnMode="force"
    [headerHeight]="50"
    [footerHeight]="0"
    [rowHeight]="50"
    [scrollbarV]="true"
    [scrollbarH]="true"
  >
    <!-- <ngx-datatable-column name="ID árbol" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="Latitud" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="longitud" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column
      name="Nombre Avenida"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Nombre científico"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column name="Clase" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="Familia" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column
      name="Nombre común"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Distancia a la línea (m)"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Altura (m)"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Mayor severidad"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Porcentaje de árbol proyectado a caer"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column name="Impacto" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="Magnitud" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column
      name="Criticidad RMA33"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Criticidad RMA34"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Estado de salud del árbol"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Dirección postal"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column name="Predio" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column
      name="Fecha inspección LiDAR"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Nivel de Tensión"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Tipo de red"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="NUMPOS Equipo cercano"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column name="Comuna" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column
      name="Magnitud de Riesgo"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Clasificación de Riesgo (sin Sanidad)"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Magnitud con Sanidad"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Clasificación de Riesgo (con efectoSanidad)"
      [width]="200"
    ></ngx-datatable-column> -->

    <ngx-datatable-column name="name" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="lat" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="lng" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column
      prop="avenue_name"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      prop="scientific_name"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column name="class" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="family" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column
      prop="common_name"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      prop="distance_to_line"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column name="height" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="severity" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column
      prop="percentage_of_tree_fall"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column name="impact" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="magnitude" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column
      prop="rma33_critically"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      prop="rma34_critically"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      prop="tree_health_status"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      prop="postal_address"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column prop="estate" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column
      prop="close_inspection_lidar"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      prop="tension_level"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      prop="network_type"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column prop="numpos" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="common" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column
      prop="magnitude_of_risk"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      prop="risk_classification_wo_health"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      prop="magnitude_with_health"
      [width]="200"
    ></ngx-datatable-column>
    <ngx-datatable-column
      prop="risk_classification_w_health"
      [width]="200"
    ></ngx-datatable-column>
  </ngx-datatable>

  <!-- <div class="card-header">
        < class="d-flex text-center">
            <ngx-datatable-column name="ID árbol" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Latitud" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="longitud" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Nombre Avenida" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Nombre científico" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Clase" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Familia" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Nombre común" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Distancia a la línea (m)" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Altura (m)" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Mayor severidad" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Porcentaje de árbol proyectado a caer" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Impacto" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Magnitud" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Criticidad RMA33" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Criticidad RMA34" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Estado de salud del árbol" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Dirección postal" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Predio" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Fecha inspección LiDAR" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Nivel de Tensión" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Tipo de red" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="NUMPOS Equipo cercano" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Comuna" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Magnitud de Riesgo" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Clasificación de Riesgo (sin Sanidad)" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Magnitud con Sanidad" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Clasificación de Riesgo (con efectoSanidad)" [width]="300"></ngx-datatable-column>
        </>
        
    </div>
    <div class="card-body">
        <div class="d-flex text-center" style="cursor: pointer;" *ngFor="let list of dataList.file_name" [class]="list.severity" routerLink="/home" [queryParams]="{site: dataList.site_id, file_name: list.name}">
            <div class="f12 p-1" style="width: 150px;">{{ list.name }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.lat }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.lng }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.avenue_name }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.scientific_name }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.class }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.family }}</div>
            <div class="f12 p-1" style="width: 150px;" [innerHTML]="list.common_name"></div>
            <div class="f12 p-1" style="width: 150px;">{{ list.distance_to_line }}m</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.height }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.severity }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.percentage_of_tree_fall }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.impact }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.magnitude }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.rma33_critically }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.rma34_critically }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.tree_health_status }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.portal_address }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.estate }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.close_inspection_lidar }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.tension_level }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.network_type }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.numpos }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.common }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.magnitude_of_risk }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.risk_classification_wo_health }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.magnitude_with_health }}</div>
            <div class="f12 p-1" style="width: 150px;">{{ list.risk_classification_w_health }}</div>
        </div>
    </div> -->
</div>

<div class="card" *ngIf="projectID === '2'">
  <div class="card-header">
    <div class="d-flex text-center">
      <div class="bold f12 p-1" style="width: 150px">ID árbol</div>
      <div class="bold f12 p-1" style="width: 150px">Latitud</div>
      <div class="bold f12 p-1" style="width: 150px">longitud</div>
      <div class="bold f12 p-1" style="width: 150px">Nombre Avenida</div>
      <div class="bold f12 p-1" style="width: 150px">DESC_FASE/Conductor</div>
      <div class="bold f12 p-1" style="width: 150px">Nombre científico</div>
      <div class="bold f12 p-1" style="width: 150px">Clase</div>
      <div class="bold f12 p-1" style="width: 150px">Familia</div>
      <div class="bold f12 p-1" style="width: 150px">Nombre común</div>
      <div class="bold f12 p-1" style="width: 150px">
        Distancia a la línea (m)
      </div>
      <div class="bold f12 p-1" style="width: 150px">Altura (m)</div>
      <div class="bold f12 p-1" style="width: 150px">Mayor severidad</div>
      <div class="bold f12 p-1" style="width: 150px">
        Porcentaje de árbol proyectado a caer
      </div>
      <div class="bold f12 p-1" style="width: 150px">Impacto</div>
      <div class="bold f12 p-1" style="width: 150px">Magnitud</div>
      <div class="bold f12 p-1" style="width: 150px">
        Estado de salud del árbol
      </div>
      <div class="bold f12 p-1" style="width: 150px">proceso</div>
      <div class="bold f12 p-1" style="width: 150px">
        NUMPOS/ Equipo cercano
      </div>
      <div class="bold f12 p-1" style="width: 150px">Equipo</div>
      <div class="bold f12 p-1" style="width: 150px">Distancia (m)</div>
      <div class="bold f12 p-1" style="width: 150px">proceso</div>
      <div class="bold f12 p-1" style="width: 150px">
        NUMPOS/ Equipo cercano
      </div>
      <div class="bold f12 p-1" style="width: 150px">Equipo</div>
      <div class="bold f12 p-1" style="width: 150px">Distancia (m)</div>
      <div class="bold f12 p-1" style="width: 150px">Dirección postal</div>
      <div class="bold f12 p-1" style="width: 150px">Comuna</div>
      <div class="bold f12 p-1" style="width: 150px">Magnitud de Riesgo</div>
      <div class="bold f12 p-1" style="width: 150px">
        Clasificación de Riesgo (sin Sanidad)
      </div>
      <div class="bold f12 p-1" style="width: 150px">
        Clasificación de Riesgo C /sanidad
      </div>
      <div class="bold f12 p-1" style="width: 150px">
        Clasificación de Riesgo (con efectoSanidad)
      </div>
    </div>
  </div>
  <div class="card-body">
    <div
      class="d-flex text-center"
      style="cursor: pointer"
      *ngFor="let list of dataList.file_name"
      [class]="list.severity"
      routerLink="/home"
      [queryParams]="{ site: dataList.site_id, file_name: list.name }"
    >
      <div class="f12 p-1" style="width: 150px">{{ list.name }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.lat }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.lng }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.avenue_name }}</div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.desc_driver_phase }}
      </div>
      <div class="f12 p-1" style="width: 150px">{{ list.scientific_name }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.class }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.family }}</div>
      <div
        class="f12 p-1"
        style="width: 150px"
        [innerHTML]="list.common_name"
      ></div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.distance_to_line }}m
      </div>
      <div class="f12 p-1" style="width: 150px">{{ list.height }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.severity }}</div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.percentage_of_tree_fall }}
      </div>
      <div class="f12 p-1" style="width: 150px">{{ list.impact }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.magnitude }}</div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.tree_health_status }}
      </div>
      <div class="f12 p-1" style="width: 150px">{{ list.process1 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.numpos1 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.team1 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.distance1 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.process2 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.numpos2 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.team2 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.distance2 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.postal_address }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.common }}</div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.magnitude_of_risk }}
      </div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.risk_classification_wo_health }}
      </div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.risk_clarification_c_health }}
      </div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.risk_classification_w_health }}
      </div>
    </div>
  </div>
</div>
