.card {
    width: 100%;
    margin-top: 1em;
    overflow-x: scroll;
}

.card-header {
    width: max-content;
    padding: 0px !important;
}

.card-body {
    overflow: scroll;
    width: max-content;
    height: 500px;
    padding: 0px !important;
}

.bold {
    font-weight: bold;
    border: 1px solid #848787;
}


.Leve {
    background-color: #B7D0A5;
}

.Critico {
    background-color: #E69390;
}

.Bueno {
    background-color: #E4B676;
}

.search-wrapper {
    right: 1em;
    position: absolute;
    top: 5em;
}

ngx-datatable {
    transition: none !important;
    box-shadow: none !important;
    height: 650px !important;
}

