<div class="card" *ngIf="datas">
    <!-- <div class="card" *ngIf=""> -->
    <div class="card-header">
        <div class="float-left">{{ datas.name }}</div>
        <div class="float-right" (click)="close()"><img style="width: 20px; cursor: pointer;" src="assets/icons/close-cross-symbol-in-a-circle.svg"></div>
    </div>
    <div class="card-body" style="position: relative;">
        <app-test *ngIf="datas"></app-test>
        <!-- <app-table-view *ngIf="tree"></app-table-view> -->
    </div>
</div>

<!-- <div class="card" *ngIf="tree"> -->
    <!-- <div class="card-header"> -->
        <!-- <div class="float-left">{{ tree.name }}</div> -->
        <!-- <div class="float-right" (click)="close()"><img style="width: 20px; cursor: pointer;" src="assets/icons/close-cross-symbol-in-a-circle.svg"></div> -->
    <!-- </div> -->
    <!-- <div class="card-body contain"> -->
<!--  -->
        <!-- <div class="img-block"> -->
            <!-- <img style="height: 100%; width: auto" [src]="'https://aerodyne-enel.s3-sa-east-1.amazonaws.com' + tree.image" > -->
        <!-- </div> -->
        <!-- <table class="table">
            <thead class="thead-light">
                <tr>
                    <td class="text-center f14">Tree Name</td>
                    <td class="text-center f14">Latitude</td>
                    <td class="text-center f14">Longitude</td>
                    <td class="text-center f14">Tree ID</td>
                    <td class="text-center f14">Feeder Name</td>
                    <td class="text-center f14">Scientific Name</td>
                    <td class="text-center f14">Class</td>
                    <td class="text-center f14">Family</td>
                    <td class="text-center f14">Common Namee</td>
                    <td class="text-center f14">Distance to Line</td>
                    <td class="text-center f14">Tree Height</td>
                    <td class="text-center f14">Impact</td>
                    <td class="text-center f14">Magnitude</td>
                    <td class="text-center f14">Health Status</td>
                    <td class="text-center f14">Numpos Neearby Team</td>
                    <td class="text-center f14">Commune</td>
                    <td class="text-center f14">Magnitude With Health</td>
                    <td class="text-center f14">Risk Classification</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center f12">{{ tree.name }}</td>
                    <td class="text-center f12">{{ tree.lat }}</td>
                    <td class="text-center f12">{{ tree.lng }}</td>
                    <td class="text-center f12">{{ tree.tree_id }}</td>
                    <td class="text-center f12">{{ tree.feeder_name }}</td>
                    <td class="text-center f12">{{ tree.scientific_name }}</td>
                    <td class="text-center f12">{{ tree.class }}</td>
                    <td class="text-center f12">{{ tree.family }}</td>
                    <td class="text-center f12">{{ tree.common_name }}</td>
                    <td class="text-center f12">{{ tree.distance_to_line }}</td>
                    <td class="text-center f12">{{ tree.tree_height }}</td>
                    <td class="text-center f12">{{ tree.Impact }}</td>
                    <td class="text-center f12">{{ tree.magnitude }}</td>
                    <td class="text-center f12">{{ tree.health_status }}</td>
                    <td class="text-center f12">{{ tree.numpos_nearby_team }}</td>
                    <td class="text-center f12">{{ tree.commune }}</td>
                    <td class="text-center f12">{{ tree.magnitude_with_health }}</td>
                    <td class="text-center f12">{{ tree.risk_classification }}</td>
                </tr>
            </tbody>
        </table> -->
        
    <!-- </div> -->
<!-- </div> -->