.potree {
    width: 100%;
    height: 65vh;
    background:url(../../../assets/icons/Display-Loading.gif) center center no-repeat;
}

.card {
    width: calc(100% - 380px);
    height: calc(100% - 150px);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
    right: 0px;
    top: 80px;
    margin: 1em;
    z-index: 1;
  }
  
  .card-body {
    padding: 0px;
    margin: 1.25em;
    overflow: scroll;
    height: calc(100% - 11em);
  }

  .contain {
    overflow: unset !important;
    text-align: center;
  }

  .img-block {
    height: 100%;
  }

.f14 {
  font-size: 14px;
  font-weight: bold;
}

.f12 {
  font-size: 12px;
}