/* You can add global styles to this file, and also import other style files */
@import "~ngx-easy-table/style.scss";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
.bg-critical {
  background-color: #e69390 !important;
}

.bg-medium {
  background-color: #e4b676 !important;
}

.bg-low {
  background-color: #edd773 !important;
}

.bg-safe {
  background-color: #b7d0a5 !important;
}

.text-green {
  color: #18a041;
}

.f8 {
  font-size: 8px;
}

.f10 {
  font-size: 10px;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.modal {
  position: fixed;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}
// .my-modal {
//   // position: absolute;
//   // z-index: 1040;
//   right: 0px;
//   top: 100px;
//   background-color: #ffffff;
// }
.modal-dialog {
  max-width: 60%;
  // max-height: 100%;
  height: fit-content;
  // max-width: 100vw;
  // margin: 1em;
  // border-radius: 15px;
  // // box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  // padding: 1em;
  // width: calc(100% - 350px);
  // // animation: translate-right ease-in-out 0.75s;
}

.modal-content {
  background-color: #ffffff;
  border-color: #ffffff;
  height: inherit;
}

// .modal-header {
//   border-color: #ffffff;
// }

.modal-body {
  // height: max-content;
  // display: flex;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  counter-reset: section;
}

// severity tree icon for marker with label
.tree-icon-label {
  width: auto;
  height: auto;

  padding-left: 10px;
  padding-right: 10px;

  border: 1px solid white;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.6);
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 12px;
  color: white;

  opacity: 1;

  pointer-events: auto;
}

// hide potree section of side bar
#sidebar_header,
#menu_about {
  display: none !important;
}

// hide gmap bottom accredition
.gm-style-cc {
  display: none !important;
}

@page {
  size: 7in 9.25in;
  margin: 27mm 16mm 27mm 16mm;
}
@media print {
  // app-report,
  html,
  body {
    width: 7in;
    height: 100%;
  }
}
